<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div style="border-radius: 10px; height: fit-content; width: 350px; padding-top: 30px; padding-bottom: 30px; font-family: 'Roboto', sans-serif;background:#2B3235">
            <div
            style="background-color: white; border-radius: 10px; color: #2B3235;font-size: 14px;text-align: justify; padding: 20px; width: 270px; margin: auto; font-weight: 500;">
            <div>
                <p>LÀM THEO BƯỚC SAU ĐỂ CHẮC CHẮN BẠN SỬ DỤNG ĐƯỢC TÀI LIỆU</p>
                <ul>
                    <li>
                        Đối với Content Creation Template: bạn BẤM VÀO LINK NÀY để nhận và bấm vào “Duplicate” để sử dụng nó như 1 bản sao 
                    </li>
                    <li>
                        Đừng quên là phần Script, Hook, CTA Template ở trong đây nhé!
                        <img src="https://res.cloudinary.com/dlqieazbj/image/upload/v1702723643/12_lpke5i.png" height="200" width="200" alt="">
                    </li>
                    <li>
                        Đối với Sheet Social Scheduling: bạn <a href="https://docs.google.com/spreadsheets/d/1QVxA8_VOE3xf1cpBSNnBv2kfC4x_SXRr/edit?rtpof=true&sd=true" target="_blank" style="color: #2B3235;font-weight: 600;">BẤM VÀO LINK NÀY</a> để nhận vào -> bấm vào ”Tệp” -> “Tạo bản sao” để sử dụng nhé! 
                    </li>
                </ul>
            </div>
            <p>Chúc bạn thành công trong công việc, đừng quên theo dõi mình để update nhiều tips Social Media nhé! </p>
            <p>Bai bai, thank you <span style="font-weight: bold;"><%=name %></span> nhiều! <br/><br/>Quizzy (Xuân Quỳnh)</p>
        </div>
        <div style="text-align: center;margin-top: 10px;">
            <img  src="https://res.cloudinary.com/dlqieazbj/image/upload/v1696978535/click_l3qohf.png" alt="" width="20" height="30">
        </div>
    </div>
</body>

</html>