<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div
        style="border-radius: 10px; height: fit-content; width: fit-content; padding: 10px; font-family: 'Roboto', sans-serif;background:#2B3235">
        <div
            style="background-color: white; border-radius: 10px; color: #2B3235;font-size: 14px;text-align: justify; padding: 10px; max-width: 300px; margin: auto;">
            <p
                style="font-size: 16px;font-weight: bold;color: #2B3235;text-align: center;margin-bottom: 2px;margin-top: 10px;">
                [TÀI LIỆU CONTENT CALENDAR] <br> từ Quizzy Học Marketing <br>🌟💝</br>
            <div style="text-align: center;">
                <img src="https://res.cloudinary.com/dlqieazbj/image/upload/v1702830349/calendar_c8myae.png" alt=""
                    height="140" width="230">
            </div>
            <p>Mình đã tổng hợp các mẫu template thông dụng và được customize thành 2 bản Tiếng Anh và Tiếng Việt cho
                mọi người thoải mái chọn.</p>
            <p>Các template này mình đã sử dụng trong suốt quá trình làm việc và cũng giới thiệu cho mentees sử dụng
                thành thạo nên mọi người yên tâm là nó có thể ứng dụng cho hầu hết các loại hình công ty nhen!</p>
            <p>Bạn có thể tải về và sử dụng chúng ở “link” dưới đây nha! Chúc bạn 1 ngày thật năng suất!</p>
            <p>Bai bai, thank you <span style="font-weight: bold;">
                    <%=name %>
                </span> nhiều! <br /><br />Quizzy (Xuân Quỳnh)</p>
        </div>
        <div
            style="background:white; padding: 10px; border-radius: 10px; color: #f864a6;font-size: 12px;font-weight: bold; width: max-content; margin: auto; margin-top: 10px;">
            <a href="https://drive.google.com/drive/folders/1teqtVpJu4o_bT8KjjcGs-m7vjVs6Dd1N?usp=sharing"
                target="_blank" style="color: #2B3235">LẤY TEMPLATE Ở LINK NÀY NHA</a>
        </div>
      
        <div style="text-align: center;margin-top: 10px;">
            <img src="https://res.cloudinary.com/dlqieazbj/image/upload/v1696978535/click_l3qohf.png" alt="" width="20"
                height="30">
        </div>
        <div style=" text-align: center;font-size: 12px;">
            <a style="color: white;" href="https://www.tiktok.com/@quizzystudytime/video/7305392344096869634?lang=vi-VN"
                target="_blank">Link video hướng dẫn sử dụng</a>
        </div>
        <div style="color: white;font-size: 14px;font-weight: bold;text-align: center;margin-top: 10px;">
            <span>@quizzy.studytime</span>
        </div>
    </div>
</body>

</html>